.fs-burger
  display: none
  width: convertRem(27)
  span
    display: block
    height: convertRem(2)
    margin: convertRem(7) 0
    @extend .fs-bg-white
  +max-query-media(sm)
    display: inline-block

=responsive-nav
  +max-query-media(sm)
    position: fixed
    width: convertRem(240)
    height: 100%
    top: 0
    right: 0
    background-color: $white
    +transition(all .5s)
    +transform(translateX(convertRem(240)))
    &.open
      +transform(translateX(0))
    span
      a
        color: $black

nav
  &.fs
    &-nav
      &--inline
        +responsive-nav
        span
          @extend .plr20
          +max-query-media(sm)
            display: block
          &:first-child
            +min-query-media(sm)
              padding-left: 0
          &:last-child
            +min-query-media(sm)
              padding-right: 0
